<% if (flash) { %>
<div class="backdrop">
	<% if (flashType == 'error') { %>
	<div class="alert alert-danger alert-dismissible fade show" role="alert">
	<% } else { %>
	<div class="alert alert-success alert-dismissible fade show" role="alert">
	<% } %>
		<%= flash %>
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
</div>
<% }%>
