<footer class="footer border-top">
	<div class="container">
		<div class="row">
			<div class="col-sm-2 mb-3">
				<h5>Outreach</h5>
				<ul class="nav flex-column">
					<li class="nav-item mb-2"><a href="https://cs.mines.edu"
						class="nav-link p-0 text-muted">CS@Mines</a></li>
					<li class="nav-item mb-2"><a href="https://mapp.mines.edu"
						class="nav-link p-0 text-muted">C-MAPP</a></li>
					<li class="nav-item mb-2"><a href="https://mineshspc.com"
						class="nav-link p-0 text-muted">Mines HSPC</a></li>
				</ul>
			</div>
			<div class="col-sm-2 mb-3">
				<h5>CS@Mines Clubs</h5>
				<ul class="nav flex-column">
					<li class="nav-item mb-2"><a
							href="https://mines.campuslabs.com/engage/organization/association-for-computing-machinery-women"
							class="nav-link p-0 text-muted">ACM - Women (ACM-W)</a></li>
					<li class="nav-item mb-2"><a href="https://lug.mines.edu" class="nav-link p-0 text-muted">Linux
							Users Group (LUG)</a></li>
					<li class="nav-item mb-2"><a href="https://oresec.mines.edu"
							class="nav-link p-0 text-muted">OreSec</a></li>
					<li class="nav-item mb-2"><a href="https://orgs.mines.edu/robotics/"
							class="nav-link p-0 text-muted">Robotics Club</a></li>
				</ul>
			</div>
			<div class="col mb-3">
				<h5><br></h5>
				<ul class="nav flex-column">
					<li class="nav-item mb-2"><a href="https://discord.gg/4X3qcTg65b"
						class="nav-link p-0 text-muted">Game Development Club</a></li>
					<li class="nav-item mb-2"><a href="https://discord.gg/wGAFuzhxeU"
							class="nav-link p-0 text-muted">Competitive Programming @ Mines (CPM)</a></li>
					<li class="nav-item mb-2"><a
							href="https://mines.campuslabs.com/engage/organization/csm-sports-analytics"
							class="nav-link p-0 text-muted">Mines Sports Analytics Club (MSAC)</a></li>
					<li class="nav-item mb-2"><a href="https://orgs.mines.edu/daa/"
							class="nav-link p-0 text-muted">Data Analytix @ Mines (DAAM)</a></li>
				</ul>
			</div>
			<!-- <div class="col-6 mb-3">
				<form>
					<h5>Subscribe to our mailing list</h5>
					<p>For CS opportunities and weekly meeting details.</p>
					<div class="d-flex flex-column flex-sm-row w-100 gap-2">
						<label for="newsletter1" class="visually-hidden">Email address</label>
						<input id="newsletter1" type="text" class="fozrm-control" placeholder="Email address">
						<button class="btn btn-primary" type="button">Subscribe</button>
					</div>
				</form>
			</div> -->
		</div>
	</div>
</footer>
