<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-sm-2 mb-3">
				<h5>Outreach</h5>
				<ul class="nav flex-column">
					<li class="nav-item mb-2"><a href="https://cs.mines.edu"
						class="nav-link p-0">CS@Mines</a></li>
					<li class="nav-item mb-2"><a href="https://mapp.mines.edu"
						class="nav-link p-0">C-MAPP</a></li>
					<li class="nav-item mb-2"><a href="https://mineshspc.com"
						class="nav-link p-0">Mines HSPC</a></li>
				</ul>
			</div>
			<div class="col-sm-2 mb-3">
				<h5>CS@Mines Clubs</h5>
				<ul class="nav flex-column">
					<li class="nav-item mb-2"><a
							href="https://mines.campuslabs.com/engage/organization/association-for-computing-machinery-women"
							class="nav-link p-0">ACM - Women (ACM-W)</a></li>
					<li class="nav-item mb-2"><a href="https://lug.mines.edu" class="nav-link p-0">Linux
							Users Group (LUG)</a></li>
					<li class="nav-item mb-2"><a href="https://oresec.mines.edu"
							class="nav-link p-0">OreSec</a></li>
					<li class="nav-item mb-2"><a href="https://orgs.mines.edu/robotics/"
							class="nav-link p-0">Robotics Club</a></li>
				</ul>
			</div>
			<div class="col mb-3">
				<h5><br></h5>
				<ul class="nav flex-column">
					<li class="nav-item mb-2"><a href="https://discord.gg/4X3qcTg65b"
						class="nav-link p-0">Game Development Club</a></li>
					<li class="nav-item mb-2"><a href="https://discord.gg/wGAFuzhxeU"
							class="nav-link p-0">Competitive Programming @ Mines (CPM)</a></li>
					<li class="nav-item mb-2"><a
							href="https://mines.campuslabs.com/engage/organization/csm-sports-analytics"
							class="nav-link p-0">Mines Sports Analytics Club (MSAC)</a></li>
					<li class="nav-item mb-2"><a href="https://orgs.mines.edu/daa/"
							class="nav-link p-0">Data Analytix @ Mines (DAAM)</a></li>
				</ul>
			</div>

			<div class="col mb-3">
				<h5>Socials</h5>
				<ul class="nav flex-column">
					<li class="nav-item mb-2">
						<a class="link-body-emphasis" href="https://www.instagram.com/minesacm/?igsh=MTVvcGNmYWI3djY2bw%3D%3D" target="_blank"><i class="bi bi-instagram"></i> Instagram</a>
					</li>
					<li class="nav-item mb-2">
						<a class="link-body-emphasis" href="https://github.com/ColoradoSchoolOfMines" target="_blank"><i class="bi bi-github"></i> GitHub</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</footer>
