<!-- TODO active tab switching styling isn't working? -->

<nav class="navbar navbar-expand-lg navbar-light">
	<div class="container-fluid">
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		
		<div class="collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav" style="vertical-align: middle;">
			<a class="navbar-brand" href="https://acm.mines.edu" target="_blank">
				<!-- <img style="max-width: 15%" src="../static/acm.png" alt="Mines ACM" /> -->
				<img width="200" height="auto" src="./static/images/logo.png" alt="Mines ACM" />
			</a>
			<li class="nav-item">
				<a class="nav-link text-nowrap active" aria-current="page" href="/">Home</a>
			</li>
			<li class="nav-item">
				<a class="nav-link text-nowrap" href="/about">About Us</a>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link text-nowrap dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
					Resources
				</a>
				<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
					<li><a class="dropdown-item" href="https://coloradoschoolofmines.github.io">Wiki</a></li>
					<li><a class="dropdown-item" href="/presentations">Presentations</a></li>
					<li><a class="dropdown-item" href="/projects">Projects</a></li>
				</ul>
			</li>
			<% if(user) { %>
			<li class="nav-item dropdown">
				<a class="nav-link text-nowrap dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
					<%= user.full %>
				</a>
				<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
					<li><a class="dropdown-item" href="/profile">Profile</a></li>
					<% if(user.isAdmin) { %>
						<li><a class="dropdown-item" href="/admin">Admin</a></li>
					<% } %>
					<li><a class="dropdown-item" href="/logout">Log Out</a></li>
				</ul>
			</li>
			<% } else { %>
			<li class="nav-item">
				<a class="nav-link text-nowrap" href="/login">Login</a>
			</li>
			<% } %>
		</ul>
		</div>
	</div>
</nav>