<nav class="navbar navbar-expand-lg shadow-sm" style="background-color: #0083c5;">
	<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav mx-auto justify-content-center">
			<li class="nav-item">
				<% if(title === 'Home') { %>
					<a class="nav-link text-nowrap active" aria-current="page" href="/">Home</a>
				<% } else { %>
					<a class="nav-link text-nowrap" href="/">Home</a>
				<% } %>
			</li>
			<li class="nav-item">
				<% if(title === 'About Us') { %>
					<a class="nav-link text-nowrap active" aria-current="page" href="/about">About Us</a>
				<% } else { %>
					<a class="nav-link text-nowrap" href="/about">About Us</a>
				<% } %>
			</li>
			<a class="navbar-brand" href="/">
				<img width="200" height="auto" src="/static/images/white.png" alt="Mines ACM" />
			</a>
			<li class="nav-item dropdown">
				<a class="nav-link text-nowrap dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
					Resources
				</a>
				<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
					<li><a class="dropdown-item" href="/schedule">Schedule</a></li>
					<li><a class="dropdown-item" href="/projects">Projects</a></li>
					<li><a class="dropdown-item" href="/presentations">Presentations</a></li>
					<li><a class="dropdown-item" href="https://coloradoschoolofmines.github.io">Wiki</a></li>
				</ul>
			</li>
			<% if(typeof user == 'object' && user) { %>
			<li class="nav-item dropdown">
				<a class="nav-link text-nowrap dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
					<%= user.name %>
				</a>
				<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
					<li><a class="dropdown-item" href="/profile">Profile</a></li>
					<% if(user.is_admin) { %>
						<li><a class="dropdown-item" href="/admin">Admin</a></li>
					<% } %>
					<li><a class="dropdown-item" href="/logout">Log Out</a></li>
				</ul>
			</li>
			<% } else { %>
			<li class="nav-item">
				<a class="nav-link text-nowrap" href="/login">Login</a>
			</li>
			<% } %>
		</ul>
	</div>
</nav>
