<% layout('layouts/base')%>

<h1>Join our Discord</h1>
<p></p>
<iframe src="https://discord.com/widget?id=953659355562127371&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>

<h1>Our Team</h1>
<p></p>
