<% layout('layouts/base')%>

<div class="bg-light">
    <div class="container">
      <div class="row">
        <div class="col me-5">
            <h1 class="acm-secondary">Join our Discord</h1>
            <p>The Discord server is a live chat where members of Mines ACM communicate with each other. Join to keep up-to-date with happenings!</p>
            <ol>
                <li><b>Create a Discord account</b>: Use our <a href="https://discord.com/invite/E2FnnrfdQ8">invite link</a> and create an account or sign in with an existing one.</li>
                <li><b>Verify your email</b>: Make sure your email is verified so you can log in again!</li>
                <li><b>Download the Discord app</b> on your mobile device or computer.</li>
            </ol>
            <button class="btn btn-outline-primary"><a style="text-decoration: none;" href="https://discord.com/invite/E2FnnrfdQ8">Join Discord</a></button>
        </div>
        <div class="col-lg-6">
            <iframe src="https://discord.com/widget?id=953659355562127371&theme=dark" width="350" height="350" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
        </div>
      </div>
    </div>
</div>

<div class="container">
    <h1 class="acm-secondary">Our Team</h1>
    <p>Mines ACM is run by an amazing team of students with support from CS@Mines! Elections are run every year around March to decide roles.</p>
    
    <div class="row row-cols-auto mt-4 mx-0 gx-1 gy-1">    
        <% for(let person of people) { %>
        <div class="team-card bg-light">
            <% if(person.avatar_id) { %>
                <img class="team-picture" src="uploads/<%= person.avatar_id %>"/>
            <% } else { %>
                <img class="team-picture" src="/static/images/default_user.png"/>
            <% } %>
            <h2><%= person.name %></h2>
            <p><%= person.title %></p>
            <p><%= person.email %></p>
        </div>
        <% } %>
    </div>
</div>
