<% layout('layouts/base')%>

<div class="content">
    <h1>Admin</h1>

    <div class="large-card">    
        <h2>Images</h2>
        <p>Upload new image to be displayed randomly on the front page of the site.</p>
        <form action="/admin" method="post" enctype="multipart/form-data">
            <input class="d-inline-block" type="file" name="avatar" />
            <br>
            <input class="d-inline-block" type="text" name="caption" placeholder="Caption.." />
            <br>
            <button class="btn d-inline-block btn-primary">Submit</button>
        </form>

        <!-- TODO area to view/edit current images? -->
    </div>

    <div class="large-card">
        <h2>Attendance</h2>

        <!-- TODO: export attendance stats to CSV; meeting, attendance, type, date -->
    </div>
</div>
