<% layout('layouts/base')%>

<main class="backdrop">
    <div class="container">
        <div class="row">
            <h1 class="text-secondary pb-2">BlasterHacks 2025</h1>
            <div class="col-sm blasterhacks-card">
                <p>Join us on campus from Friday, March 28th to Sunday, March 30th 2025 for a 36-hour in-person event 
                    filled with hacking, workshops, mini events, and more! You'll also get to network with sponsors and 
                    submit your project to a track for the chance to win prizes. Our hackathon is open to all students 
                    regardless of major or experience. We encourage those of you who have never attended a hackathon to 
                    register.</p>
                <br/>
                <b>What is a hackathon and why you should apply:</b>
                <p>A hackathon is where students build and develop a project from scratch to solve real world problems 
                    within a time-constrained environment. Our hackathon is open ended allowing students to collaborate with 
                    others and learn something new while showcasing their creativity. Attending a hackathon gives students 
                    the opportunity to experiment with new ideas while applying their skills hands-on. By networking, attending 
                    workshops, and engaging in fun activities, students develop both technical and practical skills. They also 
                    build useful soft skills, such as teamwork and communication when presenting and demonstrating their 
                    projects.</p>
                <br/>
                <p>This hackathon is sponsored by <strong><a href="https://groq.com">Groq</a></strong>; view their <a href="https://groq.com/how-to-win-hackathons-with-groq/">
                    guide on how to win hackathons here</a>.</p>
                <br/>
                <p>Register <a href="https://docs.google.com/forms/d/e/1FAIpQLSc7ZVqcp99brRF24zOp9ntErTEeUHAfQVwhopb80Oi7CwtG4A/viewform?usp=dialog">here</a> 
                    or scan the QR code in the flyer.</p>
                <br/>
                <b>The deadline to register is Friday, March 7th.</b>
            </div>
            <div class="col-sm">
                <img class="img-fluid" src="static/images/blasterhacks.jpg">
            </div>

        </div>

    </div>
</main>