<% layout('layouts/base')%>

<div class="container bg-light">
	<div class="content">
		<div class="large-card shadow">		
			<h1>Internal Server Error</h1>
			<p>Sorry - Something broke on our end!</p>

			<p>Stacktrace:</p>
			<textarea style="width: 100%; height: 50vh"><%= error %></textarea>
		</div>
	</div>
</div>