<% layout('layouts/base')%>

<div class="body-container">
	<div class="hero-left">
		<h1 class="big-header">Mines ACM Student Chapter</h1>
		<p class="header-description" style="border-left: 4px solid #0083c5; padding-left: 2%">
			Mines ACM is the largest Computer Science club at <a href="https://www.mines.edu">Mines</a> and strives
			to provide meaningful career opportunities and CS-related experiences to students.
			<br><br>
			We host weekly tech talks from recognized industry professionals, project meetings
			with diverse and open source projects, workshops teaching industry skills, and more.
			<br><br>
			Mines ACM is an official local chapter of the <a href="https://www.acm.org">Association for Computing Machinery</a>
			and is an official club of <a href="https://cs.mines.edu">CS@Mines</a>.
			<br><br>
			To join Mines ACM, simply show up to our meetings every <b>Tuesday at 6:00pm</b>.
			Join our <a href="https://acm.mines.edu/discord">Discord</a> and <a href="https://acm.mines.edu/mailinglist">mailing list</a> 
			for weekly meeting details & interaction with the CS@Mines community.
		</p>
		<div>
			<p class="next-meeting">Next meeting: Project Meeting, June 8th, 6:00pm in MZ126</p>
			<button class="btn btn-success">I'm in!</button>
		</div>
	</div>

	<div style="width: 50%;">
		<img src="./static/images/acm2.jpeg" class="header-image shadow" />
		<p class="image-caption">Some image caption here! 2023</p>
	</div>
</div>

<div class="sub-container">
	<h1 class="big-header-2">Upcoming Meetings</h1>
	<p style="border-left: 2px solid goldenrod; padding-left: 20px; padding-right: 20px; line-height: 27.5px; font-size: 17.5px;">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque scelerisque sit amet arcu quis dictum. Curabitur vitae nulla nec magna luctus sagittis. Vestibulum non nibh quis purus sollicitudin facilisis et quis ipsum. Aenean arcu arcu, auctor non auctor vitae, luctus et dolor. Phasellus quis neque eget sem varius lacinia id eu quam. In ac tellus non tortor ultrices hendrerit. Phasellus vitae feugiat est. Phasellus feugiat viverra diam, ut egestas lorem tempor eu.
		In iaculis aliquam sapien nec eleifend. Sed cursus turpis in fringilla interdum. Vestibulum vestibulum purus ipsum, a porttitor metus consequat viverra. Vestibulum vitae est sit amet enim facilisis pulvinar. Cras in commodo dui, sit amet mattis eros. Vestibulum facilisis nibh nunc, eu viverra tortor auctor non. Pellentesque luctus imperdiet mattis. Aliquam erat volutpat. Quisque luctus lorem sit amet quam rutrum, sit amet mattis sem ornare.
	</p>

	<br>

	<h1 class="big-header-2">Our Projects</h1>
	<p style="border-left: 2px solid goldenrod; padding-left: 20px; padding-right: 20px; line-height: 27.5px; font-size: 17.5px;">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque scelerisque sit amet arcu quis dictum. Curabitur vitae nulla nec magna luctus sagittis. Vestibulum non nibh quis purus sollicitudin facilisis et quis ipsum. Aenean arcu arcu, auctor non auctor vitae, luctus et dolor. Phasellus quis neque eget sem varius lacinia id eu quam. In ac tellus non tortor ultrices hendrerit. Phasellus vitae feugiat est. Phasellus feugiat viverra diam, ut egestas lorem tempor eu.
		In iaculis aliquam sapien nec eleifend. Sed cursus turpis in fringilla interdum. Vestibulum vestibulum purus ipsum, a porttitor metus consequat viverra. Vestibulum vitae est sit amet enim facilisis pulvinar. Cras in commodo dui, sit amet mattis eros. Vestibulum facilisis nibh nunc, eu viverra tortor auctor non. Pellentesque luctus imperdiet mattis. Aliquam erat volutpat. Quisque luctus lorem sit amet quam rutrum, sit amet mattis sem ornare.
	</p>
</div>
