<% layout('layouts/base')%>

<div class="content">
    <div class="large-card">
        <h1><%= user.first %> <%= user.last %></h1>
        <% if(user.title.length > 0) { %>
            <h2><%= user.title%></h2>
        <% } %>

        <% if (user.avatarId) { %>
            <img class="team-picture" src="uploads/<%= user.avatarId %>" />
        <% } else { %>
            <img class="team-picture" src="static/images/default_user.png" />
        <% } %>
        <h5>Update Profile Picture</h5>
        <form method="POST" action="/profile" enctype="multipart/form-data" accept="image/png,image/jpg,image/jpeg">
            <input class="d-inline-block mb-1" type="file" name="avatar" />
            <br>
            <button class="btn d-inline-block btn-primary mt-1">Submit</button>
        </form>
    </div>
</div>
