<% layout('layouts/base')%>

<p>Profile for <%= user.first %> <%= user.last %></p>

<img class="team-picture" src="uploads/<%= user.picture %>" />

<form action="/profile" method="post" enctype="multipart/form-data">
    <input class="d-inline-block" type="file" name="profilepicture" />
    <br>
    <button class="btn d-inline-block btn-primary">Submit</button>
</form>