<% layout('layouts/base')%>

<div class="content">
    <h1>Projects</h1>
    <p>Projects are a great way to get involved with Mines ACM! Apply existing knowledge
        and learn new skills with our variety of projects.</p>
    <div class="projects-scroll mt-3">
        <% for(let project of projects) { %>
            <div class="large-card">
                <h2 class="project-title">
                    <%= project.title %>
                    <!-- TODO: Make a style for this-->
                    <% if (project.archived) { %>
                        <span class="project-archived">(Inactive)</span>
                    <% } %>
                </h2>
                <p class="project-desc"><%= project.description %></p>
                <div class="d-inline-block mt-2">
                    <a class="d-block" href="<%= project.website %>">Website</a>
                    <a class="d-block"  href="<%= project.repository %>">Repository</a>
                </div>
            </div>
        <% } %> 
    </div>
    <!-- Button trigger modal -->
    <% if (user.isAdmin) { %>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#newProjectModal">
            New Project
        </button>
        
        <!-- Modal -->
        <div class="modal fade" id="newProjectModal" tabindex="-1" aria-labelledby="newProjectModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="newProjectModalLabel">Project Details</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form method="POST" action="/projects">
                        <div class="modal-body">
                            <label class="d-block py-1" for="title">Title</label>
                            <input name="title" type="text" required />
        
                            <label class="d-block py-1" for="description">Description</label>
                            <input name="description" type="text" required />
        
                            <label class="d-block py-1" for="repository">Repository Link</label>
                            <input name="repository" type="url" required />
        
                            <label class="d-block py-1" for="website">Website Link</label>
                            <input name="website" type="url" required />
        
                            <label class="d-block py-1" for="authors">Authors</label>
                            <input name="authors" type="text" required />
        
                            <label class="d-block py-1" for="archived">Archived</label>
                            <input name="archived" type="checkbox" />
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Discard</button>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    <% } %>
  
</div>
