/* Dark Mode */
@media (prefers-color-scheme: dark) {
    body {
        background-color: #222222;
        color: white;
    }

    .container {
        background-color: #222222 !important;
    }

    .team-card {
        background-color: #373737 !important;
    }

    .dropdown-menu {
        background-color: black;
    }
    
    .dropdown-item {
        color: white;
    }
    
    .dropdown-item:focus, .dropdown-item:hover {
        background-color: lightslategray;
    }
    
    .navbar-light .navbar-nav .nav-link {
        color: white;
    }

    .navbar-light .navbar-nav .nav-link:focus {
        color: white;
    }

    .navbar-light .navbar-nav .nav-link:hover {
        color: #0083c5;
    }

    .navbar-light .navbar-nav .nav-link.active {
        color: #0083c5;
    }

    .footer {
        background-color: #222222 !important;
    }
}

/* Body & Elements */
body {
    -webkit-animation: fadein 1s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1s;
    /* Firefox < 16 */
    -ms-animation: fadein 1s;
    /* Internet Explorer */
    -o-animation: fadein 1s;
    /* Opera < 12.1 */
    animation: fadein 1s;
}

a {
    text-decoration: none;
}

p {
    margin-bottom: 0;
}

/* Components */
.container {
    padding-top: 2%;
    padding-bottom: 2%;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    min-width: 100%;
}

.col-left {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10%;
}

.team-card {
    display: inline-block;
    text-align: center;
    background-color: #f8f9fa;
    padding: 40px;
    width: 20%;
    height: 300px;
    margin-right: 1%;
    margin-bottom: 1%;
    vertical-align: middle;
}

.profile-container {
    display: flex;
}

.profile-text-content {
    flex: 2;
}

.profile-picture-content {
    flex: 1;
    text-align: right;
}

.profile-btns {
    display: flex;
    justify-content: space-between;
}

.profile-picture {
    border-radius: 10%;
    width: 90%;
    margin-bottom: 20px;
    float: right;
}

.team-picture {
    border-radius: 75px;
    width: 50%;
    margin-bottom: 20px;
}

.content {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
    margin-top: 2%;
}

.big-header {
    font-size: 60px;
    color: #0083c5;
}

.big-header-2 {
    font-size: 50px;
    color: goldenrod;
}

.col-gold {
    border-left: 4px solid goldenrod;
    padding-left: 1%;
}

.highlight {
    font-size: 18px;
}

.event {
    padding-top: 2%;
    line-height: 30px;
}

.project-title {
    margin: 0;
}

.project-archived {
    color: lightslategray;
    font-weight: normal;
}

.project-desc {
    font-size: 22px;
    margin: 0;
}

.project-image {
    width: 20%;
    min-height: 100%;
    border-radius: 10%;
}

.meeting {
    border-bottom: 1px solid lightgray;
    padding-bottom: 1%;
    padding-top: 2%;
    line-height: 30px;
}

.meeting-title {
    font-size: 19px;
    font-weight: bold;
    margin: 0;
}

.meeting-info {
    margin: 0;
}

.rsvp {
    margin-left: 1%;
}

.header-description {
    margin-right: 10%;
    font-size: 20px;
    border-left: 4px solid #0083c5;
    padding-left: 3%;
}

.header-image {
    max-width: 75%;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.image-caption {
    font-size: 18px;
    text-align: center;
    padding-top: 1%;
    font-style: italic;
}

.large-card {
    background-color: #f8f9fa;
    padding: 4%;
    border-radius: 25px;
    margin-bottom: 2%;
}

.meeting-scroll {
    height: 75vh;
    overflow: scroll;
}

.projects-scroll {
    height: 75vh;
    overflow: scroll;
}

/* Modals */
.modal-footer {
    justify-content: left;
}

.modal-img {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.modal-edit-about {
    text-align: center;
    padding-top: 18px;
    padding-bottom: 10px;
}

/* Buttons */
.btn-outline-primary:hover {
    background-color: transparent;
    text-decoration: underline;
    color: #0d6efd;
}

/* Navigation */
.navbar {
    font-size: 20px;
    padding: 20px;
    font-family: 'Overpass', sans-serif;
}

.navbar-brand {
    margin-left: 5%;
    margin-right: 5%;
}

.nav-item {
    margin-top: auto;
    margin-bottom: auto;
    padding-right: 2%;
}

/* Footer */
.footer {
    background-color: #f8f9fa;
}

.footer .container {
    margin-left: auto;
    margin-right: auto;
    min-width: inherit;
}

.pfp-footer {
    display: flex;
    text-align: left;
}

/* Animations */
@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}