/* Dark Mode */
@media (prefers-color-scheme: dark) {
    body {
        background-color: #222222;
        color: white;
    }

	.container {
        background-color: #222222 !important;
    }

    .team-card {
        background-color: #373737 !important;
    }

    /* TODO remove this once conversion to Bootstrap is done */
	.body-container {
        background-color: #3e3e3e !important;
    }

    .navbar-light .navbar-nav .nav-link {
        color: white;
    }

    /* TODO figure out better darkmode hover */
    /* Dropdown styling in dark mode also broken */
    .navbar-light .navbar-nav .nav-link:hover {
        color: #0083c5;
    }

    .navbar-light .navbar-nav .nav-link.active {
        color: #0083c5;
    }

    .footer {
        background-color: #222222 !important;
    }
}

/* Body */
body {
	-webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
	-moz-animation: fadein 1s; /* Firefox < 16 */
	-ms-animation: fadein 1s; /* Internet Explorer */
	-o-animation: fadein 1s; /* Opera < 12.1 */
	animation: fadein 1s;
}

a {
    text-decoration: none;
}

/* Components */
.container {
    background-color: #f8f9fa; 
    padding-top: 2%; 
    padding-bottom: 2%; 
    margin-bottom: 2%;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    min-width: 100%;
}

.footer .container {
    margin-left: auto;
    margin-right: auto;
    min-width: inherit;
}

.col-left {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10%;
}

/* .body-container {
    display: flex; 
    background-color: #f8f9fa; 
    padding-top: 1%; 
    padding-bottom: 1%; 
    margin-bottom: 2%;
} */

.sub-container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2%;
}

.team-card {
    display: inline-block;
    text-align: center;
    background-color: #f8f9fa;
    padding: 40px;
    width: 20%;
    height: 300px;
    margin-right: 1%;
    margin-bottom: 1%;
    vertical-align: middle;
}

.team-picture {
    border-radius: 100px;
    max-width: 50%;
    margin-bottom: 7.5%;
}

.content {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
}

.hero-left {
    width: 50%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10%;
}

.nav-item {
    margin-top: auto;
    margin-bottom: auto;
    padding-right: 2%;
}

.big-header {
    font-size: 60px;
    color: #0083c5;
}

.big-header-2 {
    font-size: 50px;
    color: goldenrod;
}

.header-description {
    margin-right: 10%;
    font-size: 20px;
    border-left: 4px solid #0083c5; 
    padding-left: 3%;
}

.header-image {
    max-width: 75%; 
    border-radius: 25px; 
    margin-left: auto; 
    margin-right: auto; 
    display: block;
}

.image-caption {
    font-size: 18px;
    text-align: center;
    padding-top: 1%;
    font-style: italic;
}

.navbar {
    font-size: 20px;
    padding: 20px;
    font-family: 'Overpass', sans-serif;
}

.navbar-brand {
    margin-left: 5%;
    margin-right: 5%;
}

.next-meeting {
    display: inline-block;
    font-size: 22px;
    margin-right: 1%;
}

.btn-outline-primary:hover {
    background-color: transparent;
    text-decoration: underline;
}

.footer {
    padding-top: 1%;
    background-color: #f8f9fa; 
    width: 100%;
}

#discord {
    padding-left: 5%;
}

.large-card {
    /* TODO implement large card template for projects/presentations */
}


.upload-form {
    /* TODO implement upload form for admin */
}

/* Animations */
@keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}
